# This is a basic workflow to help you get started with Actions

name: Build and Test RPM

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
env:
  MAJ_VERSION: "1"
  MIN_VERSION: "0"
  YOUR_APP_NAME: "rhelhostinfo"
  YOUR_APP_COMMAND: "rhelhostinfo"

jobs:
  build:
    runs-on: ubuntu-latest
    #container: 'centos:centos7'

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: setup notification
        run: echo "starting setup"
        
      - name: Install packages
        run: |
            sudo apt-get -y install wget upx nmap rpm
            python3 -V

      - name: setup environment
        run: |
            python3 -m pip install --upgrade pip wheel setuptools python-dev-tools xcffib cairocffi tornado 
            python3 -m pip install --upgrade -r requirements.txt
            rm -rf $GITHUB_WORKSPACE/sast
            rm -rf $GITHUB_WORKSPACE/pytest
  
      - name: build notification
        run: echo "starting build"
 
      - name: build
        run: rpmbuild -bb -vv --clean $GITHUB_WORKSPACE/rpmbuild/rhelhostinfo.spec --define "_rpmdir $GITHUB_WORKSPACE/current_rpms/" --define "_sourcedir $GITHUB_WORKSPACE"
            
      - name: artifact notification
        run: echo "starting artifact upload"
            
      - name: Upload artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          name: ${{ env.YOUR_APP_NAME }}-${{ env.MAJ_VERSION }}-${{ env.MIN_VERSION }}
          path: current_rpms/
      
      - name: upload notification
        run: echo "rpm uploaded as an artifact"
            
